@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #1a1a1c;
  color: #fff;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
nav {
  width: 100%;
  height: 4rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-color {
  color: #ac32e4;
  font-size: 1.4rem;
}

nav h2 {
  margin: 1rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1.1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.nav-link {
  margin: 1rem 0.5rem;
}
.nav-menu {
  position: fixed;
  width: 100%;
  height: auto;
  transform: translateX(-100%);
  background: white;
  transition: all 0.3s linear;
}
.show-nav {
  transform: translateX(0);
}
.divider {
  width: 100%;
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  height: 1px;
}
.get-started-btn {
  margin-right: 1rem;
  border: none;
  background: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  color: white;
  width: 6rem;
  height: 2.8rem;
  font-weight: bold;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header p {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  flex-direction: column;
  font-size: 1.2rem;
}
header span {
  font-size: 0.6rem;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
  margin-bottom: 64px;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  color: #e2e2e2;
}

.coin-input::placeholder {
  color: #e2e2e2;
}
.container {
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100vh;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.chart-container {
  width: 80%;
  height: 100%;
}
select {
  width: 8rem;
  height: 1.8rem;
  background: transparent;
  color: rgb(238, 83, 109);
  font-weight: bold;
  border: 1px solid rgb(238, 83, 109);
  border-radius: 4px 4px;
  margin-bottom: 0.2rem;
}
option {
  background: white;
}

.coin-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
}
.coin-row:hover {
  border-bottom: 1px solid #ac32e4;
}

.coin {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.coin h1 {
  font-size: 1rem;
  margin-right: 1rem;
}

.coin img {
  height: 22px;
  width: 22px;
  margin: 0 1rem;
}

.coin-symbol {
  text-transform: uppercase;
  font-size: 1rem;
}

.coin-data {
  display: flex;
  align-items: center;
}

.coin-price {
  margin: 0 1rem;
  font-size: 1rem;
}

.coin-volume {
  display: none;
}

.coin-marketcap {
  display: none;
}

.coin-percent {
  font-size: 0.9rem;
  margin-right: 1rem;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}
.coingecko-holder {
  height: 600px;
  overflow: scroll;
}
@media screen and (min-width: 490px) {
  .coin-marketcap {
    display: block;
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 600px) {
  .coin-marketcap {
    font-size: 0.9rem;
  }
  .coin-row {
    width: 680px;
  }
}
@media screen and (min-width: 680px) {
  .coin-row {
    width: 800px;
    justify-content: start;
  }
  .coin img {
    height: 30px;
    width: 30px;
  }
  .coin h1 {
    width: 160px;
    font-size: 1.2rem;
  }
  .coin-price {
    margin-left: 3rem;
    width: 100px;
    font-size: 1.1rem;
  }
  .coin-percent {
    width: 100px;
    font-size: 1.1rem;
  }
  .coin-symbol {
    font-size: 1.1rem;
  }
  .coin-marketcap {
    font-size: 1.1rem;
  }
}
